body{
	background-repeat: no-repeat;
	background-size: cover;
	font-family: Comic Sans MS;	
}

#img1, #img2{
	filter: drop-shadow(0px 0px 10px #1e1e1e);
}

#img1{
	float: left;
}

#img2{
	float: right;
}

#name1div, #name2div{
	width: 30%;
	background-color:rgba(255,255,255,0.6);
	filter: drop-shadow(0px 0px 10px #1e1e1e);
	border-radius: 10px;
	text-align: center;
}

#name1div{
	float: left;
}

#name2div{
	float: right;
}

#name1, #name2{
	padding-left: 2%;
	padding-right: 2%;
	font-size: 25px;
}

#name2{
	color: #b0378a;
}

#info1, #info2{
	width: 30%;
	background-color:rgba(255,255,255,0.6);
	filter: drop-shadow(0px 0px 10px #1e1e1e);
	border-radius: 10px;
	text-align: center;
}

#info1{
	float: left;
}

#info2{
	float: right;
}

#dialogBox {
	width: 100%;
	height: 300px;
	overflow: scroll;
	background-color:rgba(255,255,255,0.6);
	border-radius: 10px;
	filter: drop-shadow(0px 0px 10px #1e1e1e);
}

#description{
	padding-left: 2%;
	padding-right: 2%;
	font-size: 25px;
}

button{
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2%;
	padding-bottom: 2%;
	background-color:rgba(255,255,255,0.6);
	border-radius: 10px;
	font-weight: bold;
	filter: drop-shadow(0px 0px 2px #1e1e1e);
	font-size: 20px;
}

#choices{
	width: 100%;
}
